/* estilos-exercicio.css
Regras de uso GERAL, COMUNS para ELEMENTOS existentes
em TODAS AS PÁGINAS */
body {
    font-family: 'Segoe UI';
    background-color: lightblue;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

a { text-decoration: none; }

p { font-size: 18px; }